.column1 {
    width:40%;
    height:100%;
    float:left;
  }
  
  .column1 h1 {
    text-align:center;
  }
  
  .headshot {
    height:450px;
    width:450px;
    margin:auto;
  
    /* This is the one thing you should definitely change! As it's pointing to Shaunalynn's picture right now! */
    background-image:url('http://www.freevectors.net/files/large/BlackCatHeadVector.jpg');
    background-size:contain;
  }
  
  .column2 {
    width:56%;
    height:100%;
    float:left;
    padding:8% 2% 0 2%;
  }
  
  body {
    margin:0;
    padding:0;
    font-family:Helvetica;
    font-size:22px;
  }
  a {
    color:teal;
    text-decoration:none;
  }
  a:hover {
    color:purple;
  }
  